@import "tailwindcss";

/* 🌙 light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 🌙 dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* theme variables that Tailwind will pick up */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-pixel: var(--font-pixelify-sans);
  --font-poppins: var(--font-poppins);
  --font-source-code: var(--font-source-code-pro);
}

/* underline stars that fills left→right, then right→left */
@keyframes typing {
  0%    { width: 0ch; }
  50%   { width: 30ch; } /* num of characters */
  100%  { width: 0ch; }
} 
.typing-stars {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(30) infinite; /* steps= num of chars */
}

body {
  @apply bg-background text-foreground font-pixel
}
